.container-about {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.title-about {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.inferenceText {
    
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.inferenceText span {
    opacity: 0.5;
  }

.content-about {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    align-items: stretch;
    border: 3px dotted #0000006d;
}