.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .img-cover {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  
  .text-card {
    padding: 20px;
    flex: 1;
  }
  
  .logo-card {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .text-div {
    display: flex;
    align-items: center;

  }
  
  /* Media queries for responsive design */
  
  @media (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .card {
      width: 48%;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      width: 60%;
    }
  }