

.card {
 border-radius: .2rem; 
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.24); 
 transition: box-shadow 0.3s ease-in-out; 
}

.card-shadow {
    box-shadow: 0 0 1px 0 rgba(189,192,207,0.06), 0 10px 16px -1px rgba(189,192,207,0.2);
}

.img-cover {
  width: 100%; 
  height: auto; 
  object-fit: cover;
  border-radius: .5rem;
}


.text-card:hover {
    display: flex;
    flex-direction: column;
    max-height: 94.5%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: 2px;
    padding: 4px;
    border-radius: 0.375rem;
}

.text-div {
    display: flex;
}

.logo-card{
    border: 1px solid #ddd;
    margin-right: 2px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }