@import url('https://fonts.googleapis.com/css?family=Alegreya');
input {
    height: 30px;
    border: none;
    border-bottom: 1.35px solid rgb(57, 49, 49);
    font-size: 1.25rem;
    cursor:pointer;
    padding: 15px 0px 10px 15px;
    width: 94%;
    font-family: Alegreya;
    font-weight: 550;
    background-color: var(--foreground-color);
  }
  input:focus {
    outline:none;
    border: 0;
    border-bottom: 1.5px solid rgb(57, 49, 49);
  }
  .form-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 40px 20px;
  }
  .form-field-title {
    margin: 10px 10px;
  }
  .form-field-input{
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
    width: 89%;
    padding: 0px 40px 0px 40px;
  }
  