

section {
  max-width: 80rem; 
  margin-left: auto;
  margin-right: auto;
}

.home-main-description{
  margin: 25px 20px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
div.home-text-logo h1{
  text-align: center;
  color: white;
  /* v.1.0.1 logo 
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0px -7px 0px #aaa, 1px -5px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    */
    /*v.1.0.2 logo*/
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0px -2px 0 #bbb,
    0px -7px 0 #b9b9b9, 0px -7px 0px #aaa, 0px -4px 0px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgb(0 0 0 / 0%),
    0 3px 0px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25),
    0 10px 6px rgba(0, 0, 0, 0.2), 0 20px 7px rgba(0, 0, 0, 0.15);
    
}
.container {
  margin-top: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-text {
  font-weight: 500;
  color: #666e75;
  font-size: 1.5rem; 
  margin-bottom: 0.75rem;
}

.search-text-color {
    color: #222328;
}


.grid-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
  gap: 0.85rem; 
}


@media (min-width: 640px) {
.grid-cards {
  grid-template-columns: repeat(3, minmax(0, 1fr));
 }
}
@media (min-width: 1024px) {
 .grid-cards {
  grid-template-columns: repeat(4, minmax(0, 1fr));
 }
}
@media (min-width: 480px) {
  .grid-cards {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


