.container-login {
  align-items: center;
  display: grid;
  justify-content: center;
  height: 100vh;
}
div.authentication-text h1 {
  text-align: center;
  color: rgb(0, 0, 0);
 
}

.singin{
  margin-bottom: 10rem;
  background-color: white;
  width: 100%;
  height: 50px;
  font-family: Alegreya;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 2px;
}

.singin:hover {
  background-color: rgba(33, 32, 32, 0.930);
  border-color: rgb(33, 32, 32);
  color: rgb(227, 215, 215);
}

.singin:focus {
  background-color: rgb(33, 32, 32);
  border-color: rgb(33, 32, 32);
  color: rgb(227, 215, 215);
  border-radius: 2px;
}