/* Style the header with a grey background and some padding */
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 8px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.gap {
  margin-right: 16px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgba(201, 188, 188, 0.192);
  box-shadow: rgba(39, 38, 38, 0.329) 0px 50px 100px -20px, rgba(116, 113, 113, 0.3) 0px 30px 60px -30px, rgba(58, 52, 52, 0.35) 0px -2px 6px 0px inset;
}

/* Style the active/current link*/
.header a.active {
  
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Float the link section to the right */
.header-right {
  display:flex;
}

.header span {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

/* Darkmode icon style */

.darkmode-icon {
  margin: 10px 50px 0px 0px;
  font-size: 30px;
  float: left;
  color: white;
  text-align: center; 
}

.user-photo {
  margin: 5px 10px 0px 0px;
  font-size: 30px;
  float: left;
  color: white;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}

.user-name {
  margin: 15px 20px 0px 0px;
  font-size: 10px;
  float: left;
  color: white;
  text-align: center;
  width: 40px;
  
}

.logout {
  margin: 10px 20px 0px 0px;
  font-size: 30px;
  float: left;
  color: white;
  text-align: center;
  cursor: pointer;
  
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;

  }
  .darkmode-icon{
    position: absolute;
    float: right;
    margin: -40px 5px 0px 300px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
}