
body {
background-color: rgb(238, 238, 238);
margin: 0;
}



main {
padding-top: 8px;
padding-right: 4px;
padding-bottom: 8px;
padding-left: 4px;
width: 100%;
--foreground-color: #fefaf9;
background-color: var(--foreground-color);
min-height: calc(100vh - 73px);
}